.navigationEditing {
    height: 100px;
    background-color: #1C1F2E;
}

.navigationEditingDark {
    height: 100px;
    background-color: black;
}

.navbarItemsConstant{
    color: #F8F0E3;
}

.footerEditing {
    height: 350px;
    background-color: #F8F0E3;
    color: #1C1F2E;
    text-align: center;
    padding: 7px;
}

.secondFooter {
    height: 25px;
    color: #1C1F2E;
    text-align: center;
    padding: 7px;
}

.aboutUs{
    padding: 75px;
}

.mapSize{
    width:400px;
}

.clothingBody {
    background-color: lightgray;
}

.indexBody{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.navUL {
    display: flex;
    flex-direction: row;
}

.navigationText{
    color:white;
}

.navBarItemTextSize{
    font-size: 30px;
}

.langingPageText{
    font-size: 70px;
}

hr{
    width: 50%;
    height: 1px;
    background-color: white;
}

.containerHome{
    position: relative;
    text-align: center;
    color: white;
  }

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 180%);
}

.clothesCentered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.mensFontSize{
    font-size: 100px;
}

.homeButtonCentre{
    top: 80%;
}

.nav-link{
    padding: 0;
    margin: .5rem 1rem; 
}

.indexLink{
    padding: 5px;
}

.autoWidth{
    width: auto !important;
    display: inline-block;
}

.vertAlign{
    vertical-align: top !important;
}

.clothingHeaderEdit{
    color: white !important;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.btn-navyblue {
    background-color: #1C1F2E;
    color: white;
}

.btn-navyblue:hover{
    background-color: #3E4566;
    color: white;
}

.alert-beige{
    background-color: #F8F0E3;
}

.navLinksEdit {
    color: white !important;
}

.sticky{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.clothingHeaderEdit:hover{
    text-decoration: none;
    color: white !important;
}

.clothingBtnEdit{
    color: white;
    border-color: white;
}

.clothingBtnEdit:hover{
    background-color: #F8F0E3;
    color: #1C1F2E;
}

.backgroundModel{
    width: 100%;
}

.linkWidth{
    width: 307px;
    display: inline-block;
}


.cardMens{
    width: 286px;
}

.vh-100{
    height: 100vh !important; 
}

.profileIconSize {
    width: 40px;
}

#sliderEdit {
    height: 100%;
    width: 0;
    background-color: #F8F0E3;
    transition: 0.5s;
    position: absolute;
}

.sliderBTN{
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .langingPageText {
        font-size: 100px;
    }

    .landingPageBtn {
        display: none !important;
    }

    .profileIconSize {
        display: none;
    }

    .sliderBTN{
        display: block;
    }
}